<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Object_B</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/adminSite.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Object_B</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>

    <div class="block_row">
        <div class="block_column3">
            <a asp-controller="Companies" asp-action="Index" class="btn btn-block btn-primary">Companies</a>
            <a asp-controller="Roles" asp-action="Index" class="btn btn-block btn-primary">Roles</a>
            <a asp-controller="Positions" asp-action="Index" class="btn btn-block btn-primary">Positions</a>
            <a asp-controller="Rooms" asp-action="Index" class="btn btn-block btn-primary">Rooms</a>
            <a asp-controller="Sensors" asp-action="Index" class="btn btn-block btn-primary">Sensors</a>
            <a asp-controller="Users" asp-action="Index" class="btn btn-block btn-primary">Users</a>
            <a asp-controller="Visits" asp-action="Index" class="btn btn-block btn-primary">Visits</a>
        </div>
            <div class="Block1">
                @RenderBody()
            </div>
        </div>


        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - Object_B - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
</body>
</html>
