@model AdminViewModel
@{
    Layout = "AdminPanelLayout";
    ViewData["Title"] = "Main";
}


<h1>Testing page from admin documentation!</h1>
<a asp-controller="MapComp" asp-action="Index">link to map</a>